<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cement Strength Predictor</title>
</head>
<body>
    <form method="post" action="/PredictedStrength" class="Search">
        <input type = "number" step="any" name = 'x1' placeholder="x1" class = "form__input">
        <input type = "number" step="any" name = 'x2' placeholder="x2" class = "form__input">
        <input type = "number" step="any" name = 'x3' placeholder="x3" class = "form__input">
        <input type = "number" step="any" name = 'x4' placeholder="x4" class = "form__input">
        <input type = "number" step="any" name = 'x5' placeholder="x5" class = "form__input">
        <input type = "number" step="any" name = 'x6' placeholder="x6" class = "form__input">
        <input type = "number" step="any" name = 'x7' placeholder="x7" class = "form__input">
        <input type = "number" step="any" name = 'x8' placeholder="x8" class = "form__input">
        <input type = "submit" value = "Submit" class="button">
    </form>
{% block body %}{% endblock %}


</body>
</html>